<!-- This html file is obsolete: The Cart has since been incorporated into the index page-->

{% extends "layout.html" %}
{% block title %}Your Cart{% endblock %}
{% block body %}
<h1> Your Cart </h1>
<p> {{cartMessage}} </p>

<div class="cart-items">
    <div class="cl">&nbsp;</div>
    <ul>
    {% for thingID in cartItems %}
      <li> <a href="{{ url_for('thing', thingID=thingID) }}"><img src="{{ url_for('static', filename="%s.png" % thingID) }}" alt="" /></a>
        <div class="product-info">
          <h3>{{ Things[thingID]['title'] }}</h3>
          <div class="product-desc">
            <p>{{ Things[thingID]['blurb'] }}</p>
          </div>
        </div>
      </li>
  	{% endfor %}
    </ul>
    <div class="cl">&nbsp;</div>
</div>

<p> Total Cost: {{totalCost}} </p>

<br /> &nbsp; 
<a href="{{ url_for('index') }}" class="return"> Return to Index </a>

{% endblock %}