{% extends "layout.html" %}
{% block title %}Welcome to the Market -- we have things!!{% endblock %}
{% block body %}
  <h1>Welcome to the Market -- we have Things!</h1>

  <ul>
  {% for thingID in allThingIDs %}
  	<a href="{{ url_for('thing', thingID=thingID) }}" class="item-button">
  		<img src="{{ url_for('static', filename="%s.png" % thingID) }}" class = "item-image">
    	<!--<a >{{ Things[thingID]['title'] }}: {{ Things[thingID]['blurb'] }}</a>-->
    </a>
  {% endfor %}
  </ul>  

{% endblock %}
