<!-- This page is now obsolete, as it was deemed unnecessary/detracting from the actual goal of the example-->

{% extends "layout.html" %}

{% block title %}{{ thingInfo['title'] }}{% endblock %}

{% block body %}
<h1>{{ thingInfo['title'] }}</h1>
<h2>{{ thingInfo['blurb'] }}</h2>

<hr>
<p>
{{ thingInfo['desc'] }}
</p>
<hr>
<p>Price: ${{ thingInfo['price'] }}</p>
<p>Warnings:</p>
<ul>
{% for warning in thingInfo['warnings'] %}
  <li>{{ warning }}</li>
{% endfor %}
</ul>

<a href="{{ url_for('index') }}"> Return to Index </a>
<br/>
<form action="", method="POST">
    <input type="submit" name="addcart" value="Add to Cart" />
</form>
{% endblock %}
